@page
@model Auth.Areas.Identity.Pages.Admin.Medics.IndexPacientModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medics</title>
    <link rel="stylesheet" href="~/css/IndexMedRedact1.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <style>
        body {
            font-size: 1.4em;
        }

        h2 {
            font-size: 1.7em;
        }


        .btn {
            font-size: 1.4em;
        }


        .table td,
        .table th {
            font-size: 1.4em;
        }

        .pagination a {
            font-size: 1.4em;
        }

        .modal-body,
        .modal-title {
            font-size: 1.4em;
        }
    </style>

    <h2 class="text-center mb-5">Список пацієнтів</h2>

    <div class="div1">
        <div class="row mb-5">
            <div class="col">
            </div>
            <div class="col">
                <form class="d-flex">
                    <input class="form-control me-4 input-group-lg" type="search" name="search" value="@Model.search" placeholder="Search" aria-label="Search" style="font-size: 20px; width: 100%;">
                    <button class="btn btn-outline-success" type="submit">Пошук</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#confirmDeleteBtn').click(function () {
                var id = $(this).data('medic-id');
                window.location.href = "/Identity/Admin/Medics/Delete?id=" + id;
            });

            $('#cancelDeleteBtn').click(function () {
                $('#confirmDeleteModal').modal('hide');
            });
        });

        function confirmDelete(element) {
            var id = $(element).data('medic-id');
            var firstName = $(element).data('medic-firstname');
            $('#confirmDeleteModal').modal('show');
            $('#confirmDeleteBtn').data('medic-id', id);
            $('#medicName').text(firstName);
        }


        function sortTable(column) {
            let orderBy = "desc";
            let currentColumn = "@Model.column";
            let currentOrder = "@Model.orderBy";
            if (column == currentColumn) {
                if (currentOrder == "asc") orderBy = "desc";
                else orderBy = "asc";
            }

            window.location.href = "?search=@(Model.search)&column=" + column + "&orderBy=" + orderBy;
        }
    </script>

    <table class="table">
        <tr>
            <th style="cursor: pointer;" onclick="sortTable('Id')">ID</th>
            <th>Ім'я</th>
            <th>Прізвище</th>
            <th>Ім'я по батькові</th>
            <th style="cursor: pointer;" onclick="sortTable('Gender')">Стать</th>
            <th>Адреса</th>
            <th>Номер телефону</th>
            <th style="cursor: pointer;" onclick="sortTable('DateOfBirth')">Дата народження</th>
            <th>Електронна пошта</th>
            <th>Пароль</th>
            <th>Дії</th>
        </tr>

        @foreach (var medic in Model.Medics)
        {
            if (!string.IsNullOrWhiteSpace(medic.PhoneNumber))
            {
                <tr>
                    <td>@medic.Id</td>
                    <td>@medic.FirtsName</td>
                    <td>@medic.LastName</td>
                    <td>@medic.Patronymic</td>
                    <td>@medic.Gender</td>
                    <td>@medic.Address</td>
                    <td>@medic.PhoneNumber</td>
                    <td>@medic.DateOfBirth</td>
                    <td>@medic.Email</td>
                    <td>@(medic.PasswordHash != null ? (medic.PasswordHash.Length > 10 ? medic.PasswordHash.Substring(0, 10) : medic.PasswordHash) : "")</td>
                    <td style="white-space:nowrap">
                        <a class="btn btn-primary btn-sm" href="/Identity/Admin/Medics/PacientEdit?id=@medic.Id">Редагувати</a>
                        <button class="btn btn-danger btn-sm" onclick="confirmDelete(this)" data-medic-id="@medic.Id" data-medic-firstname="@medic.FirtsName">Видалити</button>
                    </td>
                </tr>
            }
        }
    </table>


    <nav>
        <ul class="pagination">
            @for (int i = 1; i <= Model.totalPages; i++)
            {
                string active = "";
                if (i == Model.pageIndex) active = "active";
                <li class="page-item @active" aria-current="page">
                    <a class="page-link" href="?pageIndex=@(i)&search=@(Model.search)&column=@(Model.column)&orderBy=@(Model.orderBy)">@i</a>
                </li>
            }
        </ul>
    </nav>


    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Підтвердити Видалити</h5>
                </div>
                <div class="modal-body">
                    Ви впевнені, що хочете видалити <span id="medicName"></span>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelDeleteBtn">Скасувати</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Видалити</button>
                </div>
            </div>
        </div>
    </div>


</body>
</html>